<h1>Editing round</h1>

<%= render 'form' %>

<%= link_to 'Show', @round %> |
<%= link_to 'Back', rounds_path %>
<%= link_to 'Delete', round_path(@round), :method => :delete, :confirm => "Are you sure you want to delete this student? All previous information be lost" %>